.page {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 40px;
  gap: 25px;
}

.title {
  font-size: 3em;
}

.description {
  font-size: 1.3em;
  max-width: 1200px;
  text-align: center;
}
