.header {
  background-color: transparent;
  position: sticky;
  top: 0;
  box-sizing: content-box;
  height: 77px;
  display: flex;
  justify-content: space-between;
  padding: 16px 25px;
  transition-property: padding, background-color;
  transition-duration: 0.3s;
}

.headerScrolled {
  padding: 0 10px;
  background-color: var(--color-grey);
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title {
  font-size: 1.75em;
  font-weight: 500;
  color: var(--color-white);
}

.logo {
  width: 40px;
}

.menuContainer ul {
  list-style-type: none;
  height: 100%;
  display: flex;
  align-items: center;
}
