:root {
  --color-white: white;
  --color-light-white: #eeeeee;
  --color-grey: #7c7979;
  --color-light-gray: #b8b8b8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
