:root {
  --color-black: black;
  --color-white: white;
  --color-light-white: #eeeeee;
  --color-dark-grey: #616161;
  --color-very-dark-grey: #4d4d4d;
  --color-grey: #7c7979;
  --color-light-grey: #b8b8b8;
  --color-blue: #73aace;
  --color-orange: #feb546;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
