.button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 2.5em;
  cursor: pointer;
  background-color: var(--color-light-grey);
  color: var(--color-white);
  border: none;
  outline: none;
  z-index: 5;
  transition: opacity 0.3s;
  opacity: 1;
}

.invisible {
  opacity: 0;
}
